In [5]:
library(tidyverse)
library(tidymodels)

In [8]:
cleveland <- read_csv("https://raw.githubusercontent.com/Kooriryuu/dsci-100-project-group3/main/data/cleveland.data", col_names = FALSE, na = c("?"))
#switzerland <- read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/heart-disease/processed.switzerland.data", col_names = FALSE, na = c("?"))
#cleveland <- read_csv("data/cleveland.data", col_names = FALSE, na = c("?"))
#switzerland <- read_csv("data/switzerland.data", col_names = FALSE, na = c("?"))

#cleveland
#switzerland

Rows: 303 Columns: 14
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
dbl (14): X1, X2, X3, X4, X5, X6, X7, X8, X9, X10, X11, X12, X13, X14

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.
Rows: 123 Columns: 14
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
dbl (14): X1, X2, X3, X4, X5, X6, X7, X8, X9, X10, X11, X12, X13, X14

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

In [23]:
cleveland_select <- cleveland |>
    select(X2, X3, X5, X4, X14)
#switzerland_select <- switzerland |>
    #select(X2, X3, X7, X11, X14)
#cleveland_select
#switzerland_select
column_names <- c("sex", "chest_pain_type", "serum_cholestoral", "resting_blood_pressure", "heart_disease_present")
colnames(cleveland_select) <- column_names
#colnames(switzerland_select) <- column_names
cleveland_select$heart_disease_present[cleveland_select$heart_disease_present > 1] <- 1

#cleveland_select <- mutate(cleveland_select, sex = as_factor(sex), chest_pain_type = as_factor(chest_pain_type), heart_disease_present = as_factor(heart_disease_present))
#cleveland_select

In [50]:
set.seed(77777) 
cleveland_split <- initial_split(cleveland_select, prop = 0.75, strata = heart_disease_present)
cleveland_training <- training(cleveland_split) 
cleveland_testing <- testing(cleveland_split)

  serum_cholestoral resting_blood_pressure
1 244.8414          131.022

  num_people_no_disease num_people_w_disease
1 123                   104

In [55]:
avg <-  cleveland_training |>
    select(serum_cholestoral, resting_blood_pressure) |>
    map_df(mean) |>
    mutate(serum_cholestoral_avg = serum_cholestoral, resting_bp_avg = resting_blood_pressure) |>
    select(serum_cholestoral_avg, resting_bp_avg)

count0 <- cleveland_training |>
    filter(heart_disease_present == 0) |>
    count() |>
    pull()
count1 <- cleveland_training |>
    filter(heart_disease_present == 1) |>
    count() |>
    pull()
avg <- avg |>
    mutate(num_people_no_disease = count0) |>
    mutate(num_people_w_disease = count1)
countM <- cleveland_training |>
    filter(sex == 1) |>
    count() |>
    pull()
countF <- cleveland_traiing |>
    filter(sex == 0) |>
    count() |>
    pull()
avg <- avg |>
    mutate(num_females = countF, num_males = countM)
cleveland_training
avg
#count

    sex chest_pain_type serum_cholestoral resting_blood_pressure
1   1   1               233               145
2   1   3               250               130
3   0   2               204               130
4   1   2               236               120
5   0   4               354               120
6   1   2               263               120
7   1   3               199               172
8   1   3               168               150
9   1   4               239               140
10  0   3               275               130
11  1   1               211               110
12  0   1               283               150
13  0   3               219               120
14  0   1               226               150
15  0   1               239               140
16  1   4               234               135
17  1   3               233               130
18  1   4               226               140
19  1   3               243               150
20  1   3               212               150
21  1   3               175               110
22  0   3               417               140
23  1   3               197               130
24  0   2               198               105
25  1   4               177               120
26  1   2               219               130
27  1   3               273               125
28  1   1               213               125
29  0   3               177               142
30  0   3               304               135
⋮   ⋮   ⋮               ⋮                 ⋮
198 1   4               282               123
199 0   4               269               108
200 1   4               206               110
201 1   4               212               112
202 0   4               327               180
203 1   4               283               130
204 1   1               234               134
205 1   4               237               120
206 1   4               234               100
207 1   4               275               110
208 1   4               218               146
209 1   2               261               124
210 0   2               319               136
211 1   4               166               138
212 1   4               204               128
213 1   4               223               152
214 1   4               207               140
215 1   4               311               140
216 1   1               204               134
217 1   2               232               154
218 1   4               335               110
219 0   4               205               128
220 1   4               203               148
221 1   4               318               114
222 1   3               212               152
223 1   4               169               120
224 0   4               197               124
225 1   4               176               164
226 0   4               241               140
227 1   4               193               144
    heart_disease_present
1   0
2   0
3   0
4   0
5   0
6   0
7   0
8   0
9   0
10  0
11  0
12  0
13  0
14  0
15  0
16  0
17  0
18  0
19  0
20  0
21  0
22  0
23  0
24  0
25  0
26  0
27  0
28  0
29  0
30  0
⋮   ⋮
198 1
199 1
200 1
201 1
202 1
203 1
204 1
205 1
206 1
207 1
208 1
209 1
210 1
211 1
212 1
213 1
214 1
215 1
216 1
217 1
218 1
219 1
220 1
221 1
222 1
223 1
224 1
225 1
226 1
227 1

  serum_cholestoral_avg resting_bp_avg num_people_no_disease
1 244.8414              131.022        123
  num_people_w_disease num_females num_males
1 104                  68          159